@import "~swiper/swiper";
@import "~swiper/components/effect-coverflow/effect-coverflow";
@import "~swiper/components/navigation/navigation";
@import "~swiper/components/pagination/pagination";

.swiper-container {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
