<div *ngIf="form">
    <form [formGroup]="form">
        <div class="mb-3">
            <label for="products" class="form-label">Productos</label>
            <select class="form-select" [formControl]="productId" [ngClass]="{'is-invalid': productId.invalid && productId.touched}">
                <option disabled value="">Seleccione una opción</option>
                <option *ngFor="let data of products" [ngValue]="data.id">{{data.id}} - {{data.name}}</option>
            </select>
            <div *ngIf="productId.invalid && productId.touched" class="text-danger">
                <span *ngIf="productId.hasError('required')">El producto es requerido</span>
            </div>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Precio</label>
            <div [ngClass]="{'input-group': data}">
                <input type="text" class="form-control" id="price" name="price" formControlName="price" [ngClass]="{'is-invalid': price.invalid && price.touched}">
                <button *ngIf="data" class="btn btn-primary" (click)="price.setValue(product.price)">
                    <i class="fas fa-sync-alt"></i>
                </button>
            </div>
            <div *ngIf="price.invalid && price.touched" class="text-danger">
                <span *ngIf="price.hasError('required')">El precio es requerido</span>
                <span *ngIf="price.hasError('min')">El precio mínimo es de 0</span>
            </div>
        </div>
        <div class="mb-3">
            <label for="amount" class="form-label">Cantidad</label>
            <div [ngClass]="{'input-group': data}">
                <input type="text" class="form-control" id="amount" name="amount" formControlName="amount" [ngClass]="{'is-invalid': amount.invalid && amount.touched}">
                <button *ngIf="data" class="btn btn-primary" (click)="amount.setValue(product.amount)">
                    <i class="fas fa-sync-alt"></i>
                </button>
            </div>
            <div *ngIf="amount.invalid && amount.touched" class="text-danger">
                <span *ngIf="amount.hasError('required')">La cantidad es requerida</span>
                <span *ngIf="amount.hasError('min')">La cantidad mínima es de 1</span>
            </div>
        </div>
    </form>
  </div>