<div class="container my-4">
  <div class="row">
    <!-- Filtros -->
    <div class="col-12 col-md-3">
      <app-filters *ngIf="allFilterData"
                    (nameEmit)="filterName($event)"
                    (priceEmit)="filterPrice($event)"
                    (brandsEmit)="filterBrands($event)"
                    (typesEmit)="filterTypes($event)"
                    (valorationEmit)="filterValoration($event)"
                    (productsPerPageEmit)="productsPerPage($event)"
                    (cvEmit)="filterCv($event)"
                    (doorsEmit)="filterDoors($event)"
                    (seatingEmit)="filterSeating($event)"
                    [maxPrice]="maxPrice"
                    [brands]="brands"
                    [types]="types"
                    [title]="'Vehículos'"
                    [maxCv]="maxCv"
                    [maxDoors]="maxDoors"
                    [maxSeating]="maxSeating">
      </app-filters>
    </div>
    <div class="col-12 col-md">
      <ng-template #noVehicles>
        <div class="alert alert-info" role="alert">
          No se encuentran vehículos disponibles
        </div>
      </ng-template>
      <div *ngIf="vehiculos && (vehiculos | filterProducts:name:prices:selectedBrands:selectedTypes:valoration:selectedCv:selectedDoors:selectedSeating).length > 0; else noVehicles">
        <app-init-products [products]="vehiculos | filterProducts:name:prices:selectedBrands:selectedTypes:valoration:selectedCv:selectedDoors:selectedSeating | slice: (page-1) * pageSize : page * pageSize" [type]="'vehiculo'"></app-init-products>

        <div class="d-flex justify-content-center mt-4">
          <ngb-pagination [collectionSize]="(vehiculos | filterProducts:name:prices:selectedBrands:selectedTypes:valoration:selectedCv:selectedDoors:selectedSeating).length" [(page)]="page" [maxSize]="5" [pageSize]="pageSize" [boundaryLinks]="true"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
