<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="flex-grow-1 flex-lg-grow-0">
        <a class="navbar-brand" routerLink="inicio">BuyX<span class="text-danger">Drive</span></a>
      </div>
      <ul class="navbar-nav my-2 mb-lg-0 d-block d-lg-none">
        <li class="nav-item">
          <a routerLink="cart"><i class="fas fa-shopping-cart text-white me-4 fs-5"></i></a>
        </li>
      </ul>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="inicio" routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="vehiculos" routerLinkActive="active">Vehiculos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="productos" routerLinkActive="active">Productos</a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0 d-none d-lg-block">
          <li class="nav-item">
            <a routerLink="cart"><i class="fas fa-shopping-cart text-white me-4 fs-5"></i></a>
          </li>
        </ul>
        <div class="col-12 col-md-auto">
          <div class="row gap-2" *ngIf="!isAuthenticated(); else auth">
            <div class="col-12 pe-md-0 col-md-auto">
              <div class="d-grid">
                <button class="btn btn-sm btn-primary" type="button" (click)="login()">Iniciar Sesion</button>
              </div>
            </div>
            <div class="col-12 ps-md-0 col-md-auto">
              <div class="d-grid">
                <button class="btn btn-sm btn-danger" type="button">Crear cuenta</button>
              </div>
            </div>
          </div>
          <ng-template #auth>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ userData.email }}
              </a>
              <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item">Perfil</a></li>
                <li><a class="dropdown-item">Historial</a></li>
                <li><a class="dropdown-item">Configuracion</a></li>
                <li><hr></li>
                <li><a class="dropdown-item text-danger" (click)="logout()">Cerrar Sesión</a></li>
              </ul>
          </li>
          </ng-template>
        </div>
      </div>
    </div>
  </nav>
</header>
