<div *ngIf="form">
    <form [formGroup]="form">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <div [ngClass]="{'input-group': data}">
                <input type="text" class="form-control" id="name" formControlName="name" [ngClass]="{'is-invalid': name.touched && name.invalid}">
                <button *ngIf="data" class="btn btn-primary" (click)="name.setValue(data.name)">
                    <i class="fas fa-sync-alt"></i>
                </button>
            </div>
            <div class="text-danger" *ngIf="name.touched && name.invalid">
                <span *ngIf="name.hasError('required')">El nombre es requerido</span>
            </div>
        </div>
        <div>
            <label for="surname" class="form-label">Apellidos</label>
            <div [ngClass]="{'input-group': data}">
                <input type="text" class="form-control" id="surname" formControlName="surname" [ngClass]="{'is-invalid': surname.touched && surname.invalid}">
                <button *ngIf="data" class="btn btn-primary" (click)="surname.setValue(data.surname)">
                    <i class="fas fa-sync-alt"></i>
                </button>
            </div>
            <div class="text-danger" *ngIf="surname.touched && surname.invalid">
                <span *ngIf="surname.hasError('required')">Los apellidos son requeridos</span>
            </div>
        </div>
    </form>
</div>