<div class="card position-relative" [routerLink]="['/vehiculos', vehicle.id]">
  <div class="position-relative">
    <img [src]="vehicle.image" class="card-img-top" alt="...">
    <span class="badge position-absolute bottom-0 end-0 mb-2 me-2" [ngClass]="{'bg-success': vehicle.amount > 0 ,'bg-danger': vehicle.amount <= 0}">{{vehicle.amount > 0 ? '' : 'No '}} Stock</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ vehicle.name }}</h5>
    <p class="card-subtitle mb-2 text-muted">{{ vehicle.doors }} puertas | {{ vehicle.seating }} asientos | {{ vehicle.cv }} CV | {{ vehicle.type }}</p>
    <div class="card-text">
      <div class="row">
        <div class="col d-flex justify-content-between">
          <p class="fw-bolder">Precio:</p>
          <p class="text-success">{{ vehicle.price | discount:vehicle.discount | number:'.1-2':'en' }} €</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="vehicle.discount" class="badge bg-primary position-absolute mt-2 ms-2">Desc. {{ vehicle.discount }}%</div>
  <div class="badge bg-warning position-absolute mt-2 end-0 me-2">{{ vehicle.val }} <i class="fas fa-star"></i></div>
</div>
