<div class="row d-flex my-2" [ngClass]="{'justify-content-between': entity && entity.entityName, 'justify-content-end': !entity || !entity.entityName}">
  <div *ngIf="entity && entity.entityName" class="col-auto">
    <h4>{{ entity.entityName }}</h4>
  </div>
  <div class="col-auto" *ngIf="checkPermission('add')">
    <button mat-raised-button (click)="add()">
      + Nuevo
    </button>
  </div>
</div>
<div class="mat-elevation-z8 scroll">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="Contador">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; index as contador">{{ contador + 1 }}</td>
      <td mat-footer-cell *matFooterCellDef hidden></td>
    </ng-container>

    <ng-container [matColumnDef]="displayedColumns[0] == 'Contador' ? displayedColumns[i + 1] : displayedColumns[i]" *ngFor="let data of displayedData; index as i; first as first">
      <th mat-header-cell *matHeaderCellDef [mat-sort-header]="data.field" > {{ displayedColumns[0] == 'Contador' ? displayedColumns[i + 1] : displayedColumns[i] }} </th>
      <td mat-cell *matCellDef="let element; index as contador">
        <span *ngIf="data.type == 'string' || data.type == 'number'">{{ element[data.field] }}</span>
        <span *ngIf="data.type == 'date'">{{ element[data.field] | date:'dd-MM-YYYY' }}</span>
        <span *ngIf="data.type == 'price'">{{ element[data.field] | number:'.2-2' }} €</span>
        <span *ngIf="data.type == 'percentage'">{{ element[data.field]}} %</span>
        <span *ngIf="data.type == 'boolean'">{{ element[data.field] ? 'Si' : 'No' }}</span>
        <span *ngIf="data.noData && !element[data.field]">Sin registro</span>
      </td>
      <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" [hidden]="!first" class="text-center">No Hay Registros</td>
    </ng-container>

    <!-- Botones de acción -->
    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button type="button" *ngIf="checkPermission('view')" [disabled]="element.type && element.type === 'Articulo'" class="btn btn-light me-1" [routerLink]="[getRouteFromPermission('view'), element.id]" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver">
          <i class="fas fa-eye"></i>
        </button>
        <button type="button" *ngIf="checkPermission('composeView')" [disabled]="element.type && element.type === 'Articulo'" class="btn btn-light me-1" [routerLink]="[getRouteFromPermission('composeView'), element[keys[0]], element[keys[1]]]" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver">
          <i class="fas fa-eye"></i>
        </button>
        <button type="button" *ngIf="checkPermission('update')" class="btn btn-light me-1" (click)="update(element.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar">
          <i class="fas fa-pen"></i>
        </button>
        <button type="button" *ngIf="checkPermission('cancel') && element.status == 'Pendiente'" class="btn btn-danger me-1" (click)="cancelOrder(element.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Cancelar">
          <i class="fas fa-times"></i>
        </button> 
        <div *ngIf="checkPermission('order')" class="d-inline">
          <button type="button" *ngIf="element.status == 'Pendiente'" class="btn btn-success me-1" (click)="accept(element.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Aceptar">
            <i class="fas fa-check"></i>
          </button>
          <button type="button" *ngIf="element.status == 'Pendiente'" class="btn btn-danger me-1" (click)="denegate(element.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Denegar">
            <i class="fas fa-times"></i>
          </button>
          <button type="button" *ngIf="element.status == 'Aceptado'" class="btn btn-light me-1" (click)="onWay(element.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Enviar">
            <i class="fas fa-truck"></i>
          </button>
          <button type="button" *ngIf="element.status == 'En Camino'" class="btn btn-primary me-1" (click)="deliver(element.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Entregar">
            <i class="far fa-handshake"></i>
          </button>
        </div>
        <div *ngIf="checkPermission('externalOrder')" class="d-inline">
          <button type="button" *ngIf="element.status == 'Pendiente'" class="btn btn-danger me-1" (click)="cancelOrder(element.id, element.order_date)" data-bs-toggle="tooltip" data-bs-placement="top" title="Cancelar">
            <i class="fas fa-times"></i>
          </button>
          <button type="button" *ngIf="element.status == 'Pendiente'" class="btn btn-primary me-1" (click)="deliver(element.id, element.order_date)" data-bs-toggle="tooltip" data-bs-placement="top" title="Entregar">
            <i class="far fa-handshake"></i>
          </button>
          <button type="button" [disabled]="element.status && element.status == 'Entregado'" class="btn btn-danger me-1" (click)="deleteElement(element.id, element.order_date)" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminado físico">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
        <div *ngIf="checkPermission('logicDelete')" class="d-inline">
          <button type="button" class="btn btn-secondary me-1" *ngIf="element.active" (click)="logicDelete(element.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminado lógico">
            <i class="fas fa-trash-alt"></i>
          </button>
          <button type="button" class="btn btn-light me-1" *ngIf="!element.active" (click)="reactive(element.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Reactivar">
            <i class="fas fa-trash-restore"></i>
          </button>
        </div>
        <button type="button" *ngIf="checkPermission('delete')" [disabled]="element.status && element.status == 'Entregado'" class="btn btn-danger me-1" (click)="deleteElement(element.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminado físico">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef hidden></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [hidden]="dataSource.data.length == 0"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns" [hidden]="dataSource.data.length > 0"></tr>

  </table>
  <div class="d-flex align-items-center justify-content-between" [ngClass]="{'justify-content-between': volver, 'justify-content-end': !volver}">
    <a class="ms-2" *ngIf="volver" (click)="goBack()">Volver</a>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
