<div *ngIf="comments.length > 0; else noComments">
  <div class="row d-flex justify-content-between mb-4" *ngFor="let comment of comments">
    <div class="col-12 col-md-3">
      <div class="col-12 d-flex justify-content-center">
        <img [src]="comment.image" width="70px">
      </div>
      <div class="col-12 text-center mt-2">
        <p>{{ comment.email }}</p>
        <p>Valoración: <span class="text-warning"><app-stars [valoration]="comment.valoration"></app-stars></span> ({{ comment.valoration }} / 5)</p>
      </div>
    </div>
    <div class="col-12 col-md-9">
      <div class="card">
        <div class="card-header">
          {{ comment.title }}
        </div>
        <div class="card-body">
          <p class="card-text">
            {{ comment.body }}
          </p>
        </div>
        <div class="card-footer">
          Publicado el: {{ comment.publication_date | date:'dd-MM-YYYY'}}
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col text-center">
        <button type="button" class="btn btn-primary" (click)="loadComments = loadComments + 5">
            Cargar más
        </button>
    </div>
  </div>
</div>

<ng-template #noComments>
  <div class="alert alert-info" role="alert">
    No hay comentarios de este producto
  </div>
</ng-template>
