<div *ngIf="form">
    <form [formGroup]="form">
        <div>
            <label for="email" class="form-label">Correo electrónico</label>
            <div [ngClass]="{'input-group': data}">
                <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{'is-invalid': email.touched && email.invalid}">
                <button *ngIf="data" class="btn btn-primary" (click)="email.setValue(data.email)">
                    <i class="fas fa-sync-alt"></i>
                </button>
            </div>
            <div class="text-danger" *ngIf="email.touched && email.invalid">
                <span *ngIf="email.hasError('required')">El Email es requerido</span>
                <span *ngIf="email.hasError('pattern')">El Email introducido no tiene el formato correcto</span>
                <span *ngIf="email.hasError('emailRegistered')">El Email introducido ya está en uso</span>
            </div>
        </div>
    </form>
</div>