<div *ngIf="form">
    <form [formGroup]="form">
        <div *ngIf="genders">
            <label for="gender" class="form-label">Género</label>
            <div class="row mx-1">
                <div class="form-check col-4" *ngFor="let gender of genders">
                    <input class="form-check-input" type="radio" name="gender" formControlName="gender" [value]="gender.id" [checked]="data && gender.id === data.gender">
                    <label class="form-check-label" for="flexRadioDefault1">
                        {{gender.name}}
                    </label>
                </div>
            </div>
            <div class="text-danger" *ngIf="gender.touched && gender.invalid">
                <span *ngIf="gender.hasError('required')">El género es requerido</span>
            </div>
        </div>
    </form>
</div>