<div *ngIf="form">
    <form [formGroup]="form">
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{'is-invalid': password.touched && password.invalid}">
            <div class="text-danger" *ngIf="password.touched && password.invalid">
                <span *ngIf="password.hasError('required')">La contraseña es requerida</span>
                <span *ngIf="password.hasError('minlength')">La contraseña tiene una longitud mínima de 8 carácteres</span>
                <span *ngIf="password.hasError('maxlength')">La contraseña tiene una longitud máxima de 16 carácteres</span>
            </div>
        </div>
        <div>
            <label for="c-password" class="form-label">Confirmar Contraseña</label>
            <input type="password" class="form-control" id="c-password" formControlName="passwordConfirmation" [ngClass]="{'is-invalid': passwordConfirmation.touched && passwordConfirmation.invalid || form.hasError('differents')}">
            <div class="text-danger" *ngIf="passwordConfirmation.touched && passwordConfirmation.invalid">
                <span *ngIf="passwordConfirmation.hasError('required')">La contraseña es requerida</span>
                <span *ngIf="passwordConfirmation.hasError('minlength')">La contraseña tiene una longitud mínima de 8 carácteres</span>
                <span *ngIf="passwordConfirmation.hasError('maxlength')">La contraseña tiene una longitud máxima de 16 carácteres</span>
            </div>
            <div class="text-danger" *ngIf="form.touched && form.invalid">
                <span *ngIf="form.errors && form.errors.differents">Las contraseñas no son iguales</span>
            </div>
        </div>
    </form>
</div>