<div *ngIf="form">
    <form [formGroup]="form" enctype="multipart/form-data">
        <div class="mb-3" *ngIf="!data">
            <label for="images" class="form-label">Seleccionar Imagen</label>
            <input class="form-control" type="file" id="images" accept="image/png, image/jpeg" [ngClass]="{'is-invalid': images.invalid && images.touched}" multiple required (change)="uploadImages($event)">
            <div *ngIf="images.invalid && images.touched" class="text-danger">
                <span *ngIf="images.hasError('required')">La imagen es requerida</span>
            </div>
        </div>
    </form>
</div>