<footer class="bg-dark text-white py-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-12 col-md-6">
            <h6>Sede Principal</h6>
            <ul class="list-unstyled ms-3 text-white">
                <li><a class="link-primary"><i class="fas fa-street-view"></i> Localización</a></li>
                <li><i class="far fa-clock"></i> Lunes - Viernes | 9:45 - 18:00</li>
                <li><i class="fas fa-phone"></i> +34 666 66 66 66</li>
            </ul>
          </div>
          <div class="col-12 col-md-6">
            <h6>Paginas</h6>
            <ul class="list-unstyled ms-3 text-white">
                <li><a routerLink="" class="link-primary">Inicio</a></li>
                <li><a routerLink="vehiculos" class="link-primary">Vehiculos</a></li>
                <li><a routerLink="articulos" class="link-primary">Artículos</a></li>
            </ul>
          </div>
        </div>
      </div>
      <ul class="list-unstyled ms-4 d-flex justify-self-end col-auto">
        <li><a><i class="fab fa-whatsapp text-success fa-lg me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="+34 666 66 66 66"></i></a></li>
        <li><a href="http://www.gmail.com" target="_blank"><i class="fas fa-envelope text-light fa-lg me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="entrante@buyxdrive.com"></i></a></li>
        <li><a href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter text-primary fa-lg me-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="@buy_x_drive"></i></a></li>
        <li><a href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram fa-lg" style="color: #ba00a0;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="@buy_x_drive"></i></a></li>
      </ul>
    </div>
    <div class="row mt-2">
      <div class="col text-center">
          © todos los derechos reservados
      </div>
    </div>
  </div>
</footer>
