<h2 class="d-flex justify-content-center fw-normal">{{ categoryTitle }}</h2>
<div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-4" *ngIf="products.length; else noProducts">
  <div class="col mt-3" *ngFor="let product of products">
    <app-vehicle-card *ngIf="type === 'vehiculo'" [vehicle]="product"></app-vehicle-card>
    <app-article-card *ngIf="type === 'articulo'" [article]="product"></app-article-card>
  </div>
</div>
<ng-template #noProducts>
  <div role="alert" class="alert alert-info">
    No hay {{ type === 'vehiculo' ? 'vehiculos' : 'articulos' }} disponibles en este momento
  </div>
</ng-template>
